---
layout: page
permalink: /
---

{% assign dis_first_three = site.data.distance | slice: 0, 3 %}
{% assign mbp_first_three = site.data.moreyball_full | slice: 0, 3 %}
{% assign shot_dis_first_three = site.data.shot_distance | sort: "all_avg_dist" | reverse | slice: 0, 3 %}

<h1 id="intro-heading">Welcome to NBA.ben.report!</h1>
<p>
  If you're not that keen on the National Basketball Association, you can return to my main website <a href="https://ben.report">here</a>, or at "Home" in the sidebar. 
</p>

<h2>Leaderboards</h2>

<p>Random stats, odds and ends, updated weekly every Monday:</p>

<h3><a href="/stats/moreyball">Moreyball Percentage Leaderboard — Most Shots from Moreyball range</a></h3>
<a class="leaderboard-summary" href="/stats/moreyball">
  {% for player in mbp_first_three %}

    {% assign mb_split = player.MB_PCT | round: 3 | split: "." %}
    {% assign integral = mb_split[0] %}
    {% assign fractional = mb_split[1] | append: "000" | truncate: 3, "" %} 

    <div class="summary-item" style="--rank: '{{ forloop.index }}'">
      <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/{{ player.id }}.png">
      <div class="player-info">
        <span class="player-name">{{ player.name }}</span>
        <div class="player-right">
          <span>{{ integral }}.{{ fractional }}</span>
          <span class="team-name" style="--color: var(--{{ player.team }}_2); --background: var(--{{ player.team}}_1);">{{ player.team }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</a>

<h3><a href="/stats/shot-distance">Shot Distance Leaderboard — Longest Average Shot Distance (ft)</a></h3>
<a class="leaderboard-summary" href="/stats/shot-distance">
  {% for player in shot_dis_first_three %}

  {% assign mpt_split = player.all_avg_dist | round: 3 | split: "." %}
  {% assign integral = mpt_split[0] %}
  {% assign fractional = mpt_split[1] | append: "000" | truncate: 3, "" %} 

    <div class="summary-item" style="--rank: '{{ forloop.index }}'">
      <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/{{ player.id }}.png">
      <div class="player-info">
        <span class="player-name">{{ player.name }}</span>
        <div class="player-right">
          <span>{{ integral }}.{{ fractional }}</span>
          <span class="team-name" style="--color: var(--{{ player.team }}_2); --background: var(--{{ player.team}}_1);">{{ player.team }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</a>

<h3><a href="/stats/distance">Running Distance Leaderboard — Furthest Distance (miles) per 36 min</a></h3>
<a class="leaderboard-summary" href="/stats/distance">
  {% for player in dis_first_three %}

  {% assign mpt_split = player.miles_per_thirty | round: 3 | split: "." %}
  {% assign integral = mpt_split[0] %}
  {% assign fractional = mpt_split[1] | append: "000" | truncate: 3, "" %} 

    <div class="summary-item" style="--rank: '{{ forloop.index }}'">
      <img src="https://cdn.nba.com/headshots/nba/latest/1040x760/{{ player.id }}.png">
      <div class="player-info">
        <span class="player-name">{{ player.name }}</span>
        <div class="player-right">
          <span>{{ integral }}.{{ fractional }}</span>
          <span class="team-name" style="--color: var(--{{ player.team }}_2); --background: var(--{{ player.team}}_1);">{{ player.team }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</a>

<h2>🏀🚧 Still under construction! 🚧🏀</h2>

<p>
  For now, you might also be interested in some old posts:
  <ul>
    <li><a href="{{ site.home_url }}/posts/second-ft">Should bad free throw shooters miss on purpose?</a></li>
    <li><a href="{{ site.home_url }}/posts/moreyball">2020 Moreyball All-Stars</a></li>
    <li><a href="{{ site.home_url }}/posts/jersey-numbers">Why are lower jersey numbers more common?</a></li>
  </ul>
</p>

