---
layout: page
title: NBA
permalink: /
---

<h1 id="intro-heading">Welcome to the NBA side of the site.</h1>
<p>
  You can return to the main site <a href="https://ben.report">here</a>, or in the sidebar. 
  Explore below:
</p>

<div id="links-about">
  {% include callout.html 
      title="Posts"  
      content="Random little thoughts and notes."
      color-hsl="120deg 90% 45%"
      link="/posts"
  %}

  {% include callout.html 
    title="Photos"  
    content="My photos from around Sydney and trips I've been on."
    color-hsl="270deg 100% 70%"
    link="/photos"
  %}

  {% include callout.html 
    title="Books"  
    content="A reading list going back to 2020, with selected notes."
    color-hsl="210deg 100% 75%"
    link="/books"
  %}

  {% include callout.html 
    title="NBA"  
    content="I keep track of some NBA stats. Enjoy!"
    color-hsl="30deg 100% 50%"
    link="/nba"
  %}
</div>