<div class="nav-box">
  <nav role="navigation" {% if page.url contains 'photos' %}class="locked"{% endif %}>
  
    <a class="navName" href="/">
      <span class="home-icon">🏠</span>
      <div class="name-mix">
        <span class="mono">NBA</span>
        <span class="narrow">.ben.</span>
        <span id="hover" class="narrow">porter</span>
        <span id="normal" class="narrow">report</span>
     </div>
    </a>
  
    <ul class="nav-main">
      {% for item in site.nav_header %}
        <li class="{% if page.url contains item.url %} active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  
  </nav>
</div>