@font-face {
  font-family: "Departure Mono";
  src: url('/assets/fonts/DepartureMono-Regular.woff2') format('woff2');
}

body {
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  
  font-family: "Departure Mono", monospace;
  font-size: 16.5px;
  letter-spacing: -0.02em;
}

figcaption, .post-nav, .mono, .sidebar_titles p{
  font-size: 1.05rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  margin: 2rem 0 0 0;
  //font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;

  background: var(--orange-accent);
  width: fit-content;

  letter-spacing: -2px;
}

h2, h3 {
  margin: 2rem 0 1rem 0;
  //filter: blur(0.3px);
}

h2 {
  font-size: 1.125em;
  //border-top: 1px solid var(--orange-accent);
  //padding-top: 0.3em;
}

h3 {
  font-size: 1em;
}

li[id*="fn:"] p {
  display: inline;
}

p { 
  margin: 0.5rem 0 1.5rem 0;
}

.post-footer {
  font-size: 14px;
}
