:root {
  --ATL_1: #d62d30;
  --ATL_2: #cce02f;
  --BOS_1: #007A33;
  --BOS_2: #ffffff;
  --BKN_1: #000000;
  --BKN_2: #FFFFFF;
  --CHA_2: #290190;
  --CHA_1: #56bdcf;
  --CHI_1: #f23d10;
  --CHI_2: #000000;
  --CLE_1: #860038;
  --CLE_2: #FDBB30;
  --DAL_2: #00538C;
  --DAL_1: #0034ac;
  --DAL_2: #bbd9e7;
  --DEN_1: #0E2240;
  --DEN_2: #FEC524;
  --DET_1: #e92243;
  --DET_2: #0028ab;
  --GSW_1: #1046b1;
  --GSW_2: #ffe100;
  --HOU_1: #CE1141;
  --HOU_2: #e9e9e9;
  --IND_2: #001d67;
  --IND_1: #FDBB30;
  --LAC_2: #ff6251;
  --LAC_1: #102ba2;
  --LAL_2: #460088;
  --LAL_1: #FDB927;
  --MEM_1: #8ab0fd;
  --MEM_2: #000b5c;
  --MIA_1: #a30023;
  --MIA_2: #ffe100;
  --MIL_1: #00471B;
  --MIL_2: #EEE1C6;
  --MIN_1: #072d5b;
  --MIN_2: #bbdcdc;
  --NOP_1: #0C2340;
  --NOP_2: #e0ac51;
  --NYK_2: #004aa5;
  --NYK_1: #ff8d2f;
  --OKC_1: #035dc3;
  --OKC_2: #ff9700;
  --ORL_1: #005eb1;
  --ORL_2: #e0ecf4;
  --PHI_1: #012e7d;
  --PHI_2: #ff475a;
  --PHX_1: #5a0096;
  --PHX_2: #fc8a2c;
  --POR_1: #ff2c36;
  --POR_2: #000000;
  --SAC_1: #5A2D81;
  --SAC_2: #d2dade;
  --SAS_2: #C4CED4;
  --SAS_1: #000000;
  --TOR_1: #d31c00;
  --TOR_2: #ebebeb;
  --UTA_2: #ddd229;
  --UTA_1: #00471B;
  --WAS_1: #002B5C;
  --WAS_2: #ff3333;
}