:root {
  --ATL_1: #E03A3E;
  --ATL_2: #C1D32F;
  --ATL_3: #26282A;
  --BOS_1: #007A33;
  --BOS_2: #ffffff;
  --BOS_3: #963821;
  --BKN_1: #000000;
  --BKN_2: #FFFFFF;
  --CHA_1: #1D1160;
  --CHA_2: #00788C;
  --CHA_3: #A1A1A4;
  --CHI_1: #CE1141;
  --CHI_2: #000000;
  --CLE_1: #860038;
  --CLE_3: #041E42;
  --CLE_2: #FDBB30;
  --CLE_4: #000000;
  --DAL_1: #00538C;
  --DAL_2: #002B5E;
  --DAL_3: #B8C4CA;
  --DAL_4: #000000;
  --DEN_1: #0E2240;
  --DEN_2: #FEC524;
  --DEN_3: #8B2131;
  --DEN_4: #1D428A;
  --DET_1: #C8102E;
  --DET_2: #1D42BA;
  --DET_3: #BEC0C2;
  --DET_4: #002D62;
  --GSW_1: #1D428A;
  --GSW_2: #FFC72C;
  --HOU_1: #CE1141;
  --HOU_2: #000000;
  --HOU_3: #C4CED4;
  --IND_1: #002D62;
  --IND_2: #FDBB30;
  --IND_3: #BEC0C2;
  --LAC_2: #C8102E;
  --LAC_1: #1D428A;
  --LAC_3: #BEC0C2;
  --LAC_4: #000000;
  --LAL_2: #552583;
  --LAL_1: #FDB927;
  --LAL_3: #000000;
  --MEM_1: #6d8bc7;
  --MEM_2: #12173F;
  --MEM_3: #F5B112;
  --MEM_4: #707271;
  --MIA_1: #98002E;
  --MIA_2: #F9A01B;
  --MIA_3: #000000;
  --MIL_1: #00471B;
  --MIL_2: #EEE1C6;
  --MIL_3: #0077C0;
  --MIL_4: #000000;
  --MIN_1: #0C2340;
  --MIN_3: #236192;
  --MIN_2: #acb0b0;
  --MIN_4: #78BE20;
  --NOP_1: #0C2340;
  --NOP_2: #C8102E;
  --NOP_3: #85714D;
  --NYK_1: #006BB6;
  --NYK_2: #F58426;
  --NYK_3: #BEC0C2;
  --NYK_4: #000000;
  --OKC_1: #0973b1;
  --OKC_2: #ff7b69;
  --OKC_3: #002D62;
  --OKC_4: #FDBB30;
  --ORL_1: #0077C0;
  --ORL_2: #C4CED4;
  --ORL_3: #000000;
  --PHI_1: #006BB6;
  --PHI_2: #ED174C;
  --PHI_3: #002B5C;
  --PHI_4: #C4CED4;
  --PHO_1: #1D1160;
  --PHO_2: #E56020;
  --PHO_3: #000000;
  --PHO_4: #63727A;
  --POR_1: #E03A3E;
  --POR_2: #000000;
  --SAC_1: #5A2D81;
  --SAC_2: #c7d4dc;
  --SAC_3: #000000;
  --SAS_2: #C4CED4;
  --SAS_1: #000000;
  --TOR_1: #CE1141;
  --TOR_2: #000000;
  --TOR_3: #A1A1A4;
  --TOR_4: #B4975A;
  --UTA_1: #002B5C;
  --UTA_2: #00471B;
  --UTA_3: #F9A01B;
  --WAS_1: #002B5C;
  --WAS_2: #E31837;
  --WAS_3: #C4CED4;
}